@import "../../../_shared/variables.scss";
.socialMedia__button1{
    background-image:url(/assets/img/dribble-icon.png);
    width:40px;
    height:40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position:relative;
}
.notifications{
    position: absolute;
    top:-12px;
    right:-12px;
    background-color:$color3;
    padding:5px 7px;
    border-radius:5px;
    color:white;
    font-size:16px;
    font-family:'newCicleFina';

}