<section class="bg">
  <div class="wrapper">
    <div class="top">
      <app-hamburger></app-hamburger>
      <div class="top__text">
        <img
          src="/assets/img/heart-icon.png"
          class="top__text__heart-icon"
        />uilove
      </div>
      <button class='top__bio-icon'></button>
    </div>
    <div class="center">
        <h1 class="center__h1">Principal <span class="color__salmon">Designer</span></h1>
        <div class='center__text__top'>Who belive in simplicity</div>
        <div class='center__text__bottom '>love with UI / GUI / UX</div>
    </div>
    <div class="socialMedia">
        <app-dribble></app-dribble>
        <button class="socialMedia__button2"></button>
        <button class="socialMedia__button3"></button>
    </div>
  </div>
</section>
