@import '../../_shared/variables.scss';
.profile
.profile__wrapper{
    padding:10px;
    padding-bottom: 40px;    
    color:white;
}
.profile__edit{
    @include icon;
    background-image:url(/assets/img/edit-icon.png);
}
.avatar__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.avatar__picture{    
    border:7px solid #2e3239;
    background-color: #2e3239;
    border-radius:400px;   
    overflow: hidden;
    padding:0;
    margin:0 auto;
    font-size:0px;        
}
.profile__name{
    margin-top:20px;
   font-weight: 400; 
   font-size: 23px;;
}
.profile__motto{
    color:$color3;
    font-size:18px;
}
